h1,
.h1 {
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.23;
  font-weight: 500;
  letter-spacing: -.02em;

  @include media-breakpoint-down(xl) {
    font-size: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 24px;
  }
}

h3,
.h3 {
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p,
.p {
}

.fw-thin {
  font-weight: 100;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-black {
  font-weight: 900;
}

.text-gray {
  color: $gray;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}
