/* manrope-500 - latin_cyrillic */
@font-face {
  font-family: 'Manrope';
  font-weight: 500;
  font-style: normal;
  src: local(''), url('../fonts/manrope-v12-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/manrope-v12-latin_cyrillic-500.woff')
      format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* commissioner-500 - latin_cyrillic */
@font-face {
  font-family: 'Commissioner';
  font-weight: 500;
  font-style: normal;
  src: local(''), url('../fonts/commissioner-v11-latin_cyrillic-500.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/commissioner-v11-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* commissioner-700 - latin_cyrillic */
@font-face {
  font-family: 'Commissioner';
  font-weight: 700;
  font-style: normal;
  src: local(''), url('../fonts/commissioner-v11-latin_cyrillic-700.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url('../fonts/commissioner-v11-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
