/* Slick */

.slick-arrow {
  position: absolute;
  z-index: 1;
  width: 57px;
  height: 57px;
  font-size: 0;
  background: transparent;
  border: 1px solid rgba(#999, .3);
  border-radius: 50%;

  @include transition;

  &:hover {
    opacity: .8;
  }

  @include media-breakpoint-down(xl) {
    width: 40px;
    height: 40px;
  }

  &:after {
    position: absolute;
    display: block;
    width: 22px;
    height: 22px;
    content: '';
    background: url(../img/slider-arrow.svg) no-repeat center;
    background-size: contain;

    @include media-breakpoint-down(xl) {
      width: 16px;
      height: 16px;
    }
  }

  &.slick-prev {

    &:after {
      top: 16px;
      left: 14px;
      transform: rotate(180deg);

      @include media-breakpoint-down(xl) {
        top: 11px;
        left: 10px;
      }
    }
  }

  &.slick-next {

    &:after {
      top: 16px;
      left: 18px;

      @include media-breakpoint-down(xl) {
        top: 11px;
        left: 12px;
      }
    }
  }
}
