.rounds {
  padding: 44px 0 56px;
  display: flex;

  @include media-breakpoint-down(xl) {
    padding: 20px 0;
  }

  @include media-breakpoint-down(lg) {
    flex-direction: column;
    align-items: flex-start;
  }

  &__left {
    overflow: hidden;
    min-width: 0;
    max-width: 54.1%;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__right {
    padding: 0 6% 0 5.7%;
    min-width: 0;
    max-width: 45.9%;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }
}
