.round-active {
  padding: 60px 0 60px calc((100vw - 1166px) / 2);
  color: #fff;

  @include media-breakpoint-down(xl) {
    padding-top: 32px;
    padding-left: 20px;
  }

  @include media-breakpoint-down(sm) {
    padding-left: 10px;
  }

  &__header {
    margin-bottom: 64px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 32px;
    }
  }

  &__slider {
    padding-left: 17%;
    padding-bottom: 72px;

    @include media-breakpoint-down(sm) {
      padding-left: 0;
      padding-bottom: 0;
    }

    .slick-list {
      margin-left: -11px;
      overflow: visible;
      width: calc(100% + 11px);
    }

    .slick-track {
      overflow: visible;
    }

    .slick-slide {
      margin: 0 11px;
      opacity: .25;

      @include transition;

      &.slick-current {
        opacity: 1;

        & ~ .slick-slide {
          opacity: .5;
        }
      }
    }

    .slick-arrow {
      top: -122px;

      @include media-breakpoint-down(xl) {
        top: -68px;
      }

      &.slick-prev {
        right: 90px;

        @include media-breakpoint-down(xl) {
          right: 72px;
        }
      }

      &.slick-next {
        right: 11px;
      }
    }
  }
}
