mixin round-active(data)
  .round-active&attributes(attributes)
    h2.round-active__header Recent 
      span.text-gray Rounds
    .round-active__slider
      +round({
        status: 'Active round',
        picture: 'round-1.jpg',
        type: 'active'
      }).round--active
      +round({
        status: 'Active round',
        picture: 'round-2.jpg',
        type: 'active'
      }).round--active
      +round({
        status: 'Active round',
        picture: 'round-3.jpg',
        type: 'active'
      }).round--active
      +round({
        status: 'Active round',
        picture: 'round-1.jpg',
        type: 'active'
      }).round--active
      +round({
        status: 'Active round',
        picture: 'round-2.jpg',
        type: 'active'
      }).round--active
      +round({
        status: 'Active round',
        picture: 'round-3.jpg',
        type: 'active'
      }).round--active
    