.round-completed {
  padding: 58px 0 72px;
  color: #fff;
  background: url(../img/round-completed-bg.svg) no-repeat left center;
  background-size: 100% 100%;
  border-radius: 12px;

  @include media-breakpoint-down(xl) {
    padding: 32px 0;
  }

  &__header {
    margin-bottom: 64px;
    padding-left: 23px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 32px;
    }
  }

  &__slider {
    position: relative;

    &:before,
    &:after {
      position: absolute;
      z-index: 1;
      top: 0;
      left: -1px;
      display: block;
      width: 1px;
      height: 100%;
      content: '';
      box-shadow: 0 0 64px 64px #16171f;

      @include media-breakpoint-down(sm) {
        display: none;
      }
    }

    &:after {
      right: -2px;
      left: auto;
      box-shadow: 0 0 64px 64px #16171f;
    }

    .slick-slide {
      position: relative;
      margin: 0 10px;
    }

    .slick-arrow {
      z-index: 2;
      top: 50%;
      background: #fff;

      &:before {
        position: absolute;
        top: -5px;
        left: -4.7px;
        display: block;
        width: 64.35px;
        height: 64.35px;
        content: '';
        background: rgba(#fdfdfd, .3);
        border-radius: 50%;

        @include media-breakpoint-down(xl) {
          display: none;
          width: 46.5px;
          height: 46.5px;
        }
      }

      &:after {
        filter: invert(1);
      }

      &.slick-prev {
        left: -4px;
        transform: translate(-50%, -45px);

        @include media-breakpoint-down(sm) {
          left: 16px;
        }
      }

      &.slick-next {
        right: -4px;
        transform: translate(50%, -45px);

        @include media-breakpoint-down(sm) {
          right: 16px;
        }

        &:before {

          @include media-breakpoint-down(xl) {
            right: -4.5px;
            left: auto;
          }
        }
      }
    }
  }
}
