mixin round-completed(data)
  .round-completed&attributes(attributes)
    h2.text-white.round-completed__header Came out 
      span.text-primary on IDO
    .round-completed__slider
      +round({
        status: 'Completed',
        picture: 'round-3.jpg',
        type: 'completed'
      }).round--completed
      +round({
        status: 'Completed',
        picture: 'round-3.jpg',
        type: 'completed'
      }).round--completed
      +round({
        status: 'Completed',
        picture: 'round-3.jpg',
        type: 'completed'
      }).round--completed