mixin round(data)
  a.round(href="#")&attributes(attributes)
    .round__wrapper
      .round__status= data.status
      .round__header Epic War #gamefi
    .round__picture
      img.round__picture-img(src="./img/" + data.picture, alt)
    .round__wrapper
      if data && data.type == 'completed'
        .round__info
          .round__info-header X10
          .round__info-content Profit
      .round__dscr Multiplayer P2E online shooter and social network
      .round__link More Information
