.round {
  padding: 16px 12px 20px;
  display: block;
  text-decoration: none;
  background: $black;
  border: 1px solid rgba(#fff, .3);
  border-radius: 10px;

  @include transition;

  &:hover {
    opacity: 1 !important;
    border-color: rgba($primary, .3);
  }

  &__wrapper {
    padding-left: 10px;
  }

  &__status {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -.01em;

    &:before {
      top: -1px;
      margin-right: 5px;
      display: block;
      width: 16px;
      height: 16px;
      flex-shrink: 0;
      content: '';
      background: url(../img/status-active.svg) no-repeat center;
      background-size: contain;
      border-radius: 50%;
    }
  }

  &__header {
    margin-bottom: 26px;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -.01em;
    color: #fff;

    @include media-breakpoint-down(xl) {
      margin-bottom: 16px;
      font-size: 16px;
    }
  }

  &__picture {
    position: relative;
    margin-bottom: 43px;
    padding-top: 76.42%;
    border-radius: 10px;

    @include media-breakpoint-down(xl) {
      margin-bottom: 20px;
    }
  }

  &__picture-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
  }

  &__info {
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
  }

  &__info-header {
    margin-right: 6px;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 500;
    letter-spacing: -.02em;
    text-transform: capitalize;
  }

  &__info-content {
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 500;
    letter-spacing: -.01em;
    color: #fff;
  }

  &__dscr {
    margin-bottom: 19px;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: #fff;

    @include media-breakpoint-down(xl) {
      font-size: 13px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    font-family: $font-family-secondary;
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    letter-spacing: -.01em;
    color: $primary;

    @include media-breakpoint-down(xl) {
      font-size: 13px;
    }

    &:after {
      margin-left: 13px;
      display: block;
      width: 12px;
      height: 12px;
      flex-shrink: 0;
      content: '';
      background: url(../img/round-link.svg) no-repeat center;
    }
  }

  &--completed {
    padding-bottom: 32px;
    max-width: 252px;
    background: $black url(../img/completed-wave.svg) no-repeat center bottom;
    background-size: contain;

    .round__status {
      font-size: 15px;
      color: #999;

      &:before {
        background: url(../img/status-completed.svg) no-repeat center;
      }
    }

    .round__picture {
      margin-bottom: 17px;
    }
  }
}
